<div style="position: relative; height: 500px; background-color: #8eff99">

    <div class="demopanel" ngui-syspanel data-title="sysop" data-menu-open="SyspanelCtrl.open">
        <panel-header>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </panel-header>
        <panel-menu>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </panel-menu>
        <panel-body>
            <button ng-click="SyspanelCtrl.open = !SyspanelCtrl.open">aaa</button>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <p>asd fasd fasdf sdf</p>
            <div style="height: 380px">
                <div ngui-syspanel data-title="sysop" data-menu-open="SyspanelCtrl.open">
                    <panel-header>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </panel-header>
                    <panel-menu>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="#">Home</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                        </ul>
                    </panel-menu>
                    <panel-body>
                        <button ng-click="SyspanelCtrl.open = !SyspanelCtrl.open">aaa</button>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                        <p>asd fasd fasdf sdf</p>
                    </panel-body>
                </div>
            </div>
        </panel-body>
    </div>


</div>

{{SyspanelCtrl}}